@font-face {
    font-family: ttmedium;
    src: url(./fonts/TTLakes-Medium.ttf);
}
@font-face {
    font-family: ttbold;
    src: url(./fonts/TTLakesCondensed-Bold.ttf);
}
body{
    margin: 0;
    --font-s: 16px;
    --color-black: #1B1C21;
    --fontfamily-ttmed: ttmedium;
    
}

.nav{
    width: 320px;
    box-shadow: 40px 0px 40px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    overflow-y: hidden;
    overflow-y: auto;
    height: 100%; 
}

.nav__header__container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.nav__header__close,
.nav__header__logo,
.nav__header__search{
    padding-left: 24px;
    padding-top: 23px;
}
.nav__header__search{
    padding-right: 24px;
}
.nav__header__item-1{
    order: 1;
}
.nav__header__item-2{
    order: 2;
    flex-grow:2;
    flex-shrink:1;
}
.nav__header__item-3{
    order: 3;
}
.nav__main__container{
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
    padding-left: 24px;
}

.nav__main__ul{
    list-style-type:none;
    padding: 0;
}
li{
    margin-bottom: 2em;
    font-family: var(--fontfamily-ttmed);
    font-size: var(--font-s);
    text-decoration: none;
    color: var(--color-black);
}

.nav__main__text{
    font-family: var(--fontfamily-ttmed);
    font-size: var(--font-s);
    text-decoration: none;
    color: var(--color-black);
}
.nav__main__text:hover{
   
    color:#7E7E82;
    position: relative;
}
.nav__main__text:hover::after{
    content: url(./img/highlight.svg);
    display: block;
    position: absolute;
    left: -24px;
    top: -5px;
}
.nav__footer__container{
    padding-top: 240px;
    width: 222px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.nav__footerinfo__mail{
    padding-left: 24px;
    font-size: var(--font-s);
    font-family: var(--fontfamily-ttmed);
    text-decoration: none;
    color: var(--color-black);
}
.nav__footerinfo__number{
    padding-left: 24px;
    font-size: 24px;
    font-family: ttbold;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: var(--color-black);
}
.nav__footerlanguage__container{
    padding-top: 45px;
    padding-bottom: 25px;
    width: 95px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding-left: 20px;
}
.nav__footerlanguage__text{
    font-size: var(--font-s);
    font-family: var(--fontfamily-ttmed);
    color: var(--color-black);
    text-decoration: none;
}

@media (min-width: 1028px) {
    .nav__footer__container{
        padding-top: 385px;
    }

}