@font-face {
    font-family: ttmedium;
    src: url(./fonts/TTLakes-Medium.ttf);
}
@font-face {
    font-family: ttbold;
    src: url(./fonts/TTLakesCondensed-Bold.ttf);
}
body{

    margin: 0;
    --font-s: 16px;
    --color-black: #1B1C21;
    --fontfamily-ttmed: ttmedium;
    
}
a{
    text-decoration: none;
}
.nav{
    width: 320px;
    box-shadow: 40px 0px 40px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    overflow-y: hidden;
    overflow-y: auto;
    height: 100%; 
}

.nav__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 24px;
    padding-top: 23px;
    padding-right: 24px;
}
.nav__header__logo{
    padding-left: 16px;
}
.nav__header__item-1{
    order: 1;
}
.nav__header__item-2{
    order: 2;
    flex-grow:2;
    flex-shrink:1;
}
.nav__header__item-3{
    order: 3;
}

.nav__header__close,
.nav__header__search,
.nav__footer__call,
.nav__footer__chat,
.nav__footer__profile{
    width: 50px; height: 50px; border-radius: 50%; background: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
}
.nav__header__close{
    background-image: url(./img2/close.png);
}
.nav__header__search{
    background-image: url(./img2/searh.svg);
}
.nav__footer__call{
    background-image: url(./img2/call.svg);
}
.nav__footer__chat{
    background-image: url(./img2/chat2.svg);
}
.nav__footer__profile{
    background-image: url(./img2/profile.svg);
}


.nav__main{
    padding-top: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
    padding-left: 24px;
}

.nav__main__ul{
    list-style-type:none;
    padding: 0;
}
li{
    margin-bottom: 2em;
}
.text-border {
    width: 100%;
}
.text-border:hover{
    position: relative;
   
   
}
.text-border:hover::after{
    content: '';
    width: 4px;
    color:#7E7E82;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    height: 40px;
    left: 0;
    margin-top: -9px;
    background-color: #41F6D7;
    margin-left: -24px;
}

.nav__footer{
    padding-top: 240px;
    width: 222px; /* При сменене на 100% иконки уходят вправа */
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.nav__footer img{
    object-fit:cover;
    width: 40px; height: 40px; border-radius: 50%;
    background: #FF3E79;
}
.nav__footerinfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.nav__footerinfo__mail{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 24px;
}
.nav__footerinfo__number{
    padding-left: 24px;
    font-size: 24px;
    font-family: ttbold;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--color-black);
}
.nav__footerlanguage{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 95px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding-left: 20px;
}

.text{
    font-size: var(--font-s);
    font-family: var(--fontfamily-ttmed);
    color: var(--color-black);
}

@media (min-width: 1028px) {
    .nav__footer__container{
        padding-top: 385px;
    }

}